@media all and (max-width: 1000px) {
  .menu-icon{
    display:block;
    padding: 0 25px;
  }

  .header-right{
    display:none;
  }

  .header-left .logo {
    font-size: 24px;
    margin-left: 30px;
    margin-top: 20px;
  }

  header {
    height: 75px;
  }
  .text-about p img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  
  .text-about p {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    padding: 0 100px;
  }
  

  .box{
    margin: 50px;
  }

  .box:hover{
    height: 260px;
  }

  .box .content{
    height: 45px;
  }


  .box .content h2{
    font-size: 12px;
  }

  .box .content span{
    font-size: 8px;
  }

  .section{
    display: flex;
    width: 100%;
  }

  .section ul {
    margin: 0px;
    padding: 0px 10px;
  }

  .section ul h1{
    font-size: 20px;
  }

  .section ul li{
   
    margin: 10px;
  }

}

@media all and (max-width: 670px) {
   .menu-icon{
    display:block;
    padding: 0 20px;
  }

  .header-right{
    display:none;
  }

  .top-wrapper img{
    height: 50%;
  }


  .header-left .logo {
    font-size: 20px;
    margin-left: 30px;
  }

  header {
    height: 70px;
  }

  .text-about p img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  
  .text-about p {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    padding: 0 35px;
    font-size: 16px;
  }

  .service-box {
    max-width: 670px;
    width: 100%;
    margin: 0 auto;
  }

  .heading p {
    font-size: 14px;
    padding: 0 25px;
  }

  .box:hover{
    height: 260px;
  }

  .box .content{
    height: 45px;
  }


  .box .content h2{
    font-size: 12px;
  }


  .box .content span{
    font-size: 8px;
  }

  .section{
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .section ul {
    margin: 0px;
    padding: 0px 10px;
  }

  .section ul h1{
    font-size: 25px;
  }

  .section ul li{
    text-align: center;
    margin: 10px;
  }

}
