@media all and (max-width: 1000px) {
  .menu-icon{
    display:block;
    padding: 0 25px;
  }

  .header-right{
    display:none;
  }

  .header-left .logo {
    font-size: 24px;
    margin-left: 30px;
    margin-top: 20px;
  }

  header {
    height: 75px;
  }
  .text-about p img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  
  .text-about p {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    padding: 0 100px;
  }
  
  .service-box {
    max-width: 670px;
    width: 100%;
    margin: 0 auto;
  }
  .box{
    margin: 50px;
  }

  .box:hover{
    height: 260px;
  }

  .box .content{
    height: 45px;
  }


  .box .content h2{
    font-size: 12px;
  }

  .box .content span{
    font-size: 8px;
  }

    .contact {
    padding: 0 30px;
  }

  .contact input, textarea {
    width: 100%  
  }
  
  .fullname {
    display: none;
  }
  
  .footer-bottom {
    overflow: auto;
    text-align: center;
    padding: 10px 0 0;
  }
  
  .footer-left {
    float: none;
    padding-top: 10px;
    font-weight: normal;
  }
  
  .footer-right {
    float: none;
    padding-right: 40px;
  }
  
}

@media all and (max-width: 670px) {
   .menu-icon{
    display:block;
    padding: 0 20px;
  }

  .header-right{
    display:none;
  }

  .top-wrapper img{
    height: 50%;
  }


  .header-left .logo {
    font-size: 20px;
    margin-left: 30px;
  }

  header {
    height: 70px;
  }

  .text-about p img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  
  .text-about p {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    padding: 0 35px;
    font-size: 16px;
  }

  .service-box {
    max-width: 670px;
    width: 100%;
    margin: 0 auto;
  }

  .heading p {
    font-size: 14px;
    padding: 0 25px;
  }

  .box:hover{
    height: 260px;
  }

  .box .content{
    height: 45px;
  }


  .box .content h2{
    font-size: 12px;
  }


  .box .content span{
    font-size: 8px;
  }

  .contact {
    padding: 0 30px;
  }

  .contact input, textarea {
    width: 100%  
  }
  
  .fullname {
    display: none;
  }
  
  .footer-bottom {
    max-width: 670px;
    width: 100%;
    overflow: auto;
    text-align: center;
    padding: 10px 0 0;
  }
  
  .footer-left {
    float: none;
    padding-top: 10px;
    font-weight: normal;
  }
  
  .footer-right {
    float: none;
    padding-right: 40px;
  }
}
