html{scroll-behavior: smooth;}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: 'Quicksand', sans-serif;

}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.top-wrapper img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 665px;
  text-align: center;
}

.text-wrapper  h1{
  color : white;
  opacity : 0.7;
  z-index: 500;
  font-size:45px;
  text-align:center;
  letter-spacing: 5px;
  margin-bottom:10px;

}
.text-wrapper P {
  font-size:15px;
  text-align:center;
  color : white;
  opacity:0.7;
  padding-top:5px;
  
}

/* .top-wrapper {
  height:700px;
  background-image :url("header.png");
  background-size:cover;
  padding: 180px 0 100px 0;
} */

header {
  height: 75px;
  width: 100%;
  background-color: #052f61;
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  margin-top: 15px;
  position: absolute;
  text-shadow: 0 0 20px #0080ff; 
}

.logo:after{
  content: attr(data-text);
  position: absolute;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  top: 0;
  left: 0;
  z-index: -1;
  color: #0080ff;

}

.logo:before{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height:100%;
  background: #0080ff;
  z-index: -2;
  opacity: .5;
  filter: blur(10px);
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: 20px;
  margin-top: 15px;
}


.header-right a{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
  overflow: hidden;
  border-radius: 5px;

}

.header-right a:hover{
  color: #fff;
  background: #2196f3;
  box-shadow:  0 0 10px #2196f3,0 0 15px #2196f3,0 0 20px #2196f3;
  transition: 3s;

}


.header-right a span{
  position: absolute;
  display: block;
}

.header-right a span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#2196f3);
}

.header-right a:hover span:nth-child(1){
  left: 100%;
  transition: 1s;

}

.header-right a span:nth-child(3){
  bottom:0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#2196f3);
}

.header-right a:hover span:nth-child(3){
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;

}

.header-right a span:nth-child(2){
  top:-100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#2196f3);
}

.header-right a:hover span:nth-child(2){
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;

}

.header-right a span:nth-child(4){
  bottom:-100%;
  left:0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#2196f3);
}

.header-right a:hover span:nth-child(4){
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;

}

.menu-icon {
  color:white;
  float: right;
  font-size: 25px;
  display: none;
  margin-top: 25px;  
  
}

.about-layout {
  padding: 60px 0;
}

.heading {
    text-align: center;
}

.heading h1 {
    font-size: 30px;
}

.text-about{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.text-about p{
  text-align:justify;
  padding:10px;
  font-size: 18px;
  
}

.text-about p img{
   width:600px; 
   height:300px;
   float:left;
   margin-right: 30px;
}

.service{
  background: #060c21;
  padding: 60px 0;
  
}

.svc {
  color: #fff;
}

.border{
  width: 160px;
  height: 2px;
  background: #0080ff;
  margin: 20px auto;
}

.services-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box{
  max-width: 33.33%;
  padding: 40px;
  text-align: center;
  color: #ddd;
  cursor: pointer;
}

.service-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #0080ff;
  color: #0080ff;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}

.service-icon i{
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}

.service-box:hover .service-icon{
  background: #0080ff;
  color: #fff;
}
.service-title{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.service-desc{
  font-size: 14px;
}

.content {
    padding: 60px 0;
}

.heading p {
  font-size: 18px;
}

.team{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 350px;  
}

.box{
  position:relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  transition: 0.5s;
  background: #060c21;
}

 .box:hover{
  height: 300px;

}

 .box .imgBx{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

 .box .imgBx img{
  max-width: 100%;
  opacity: 0.1;
  transition: 0.5s;

}

 .box:hover .imgBx img{
  opacity: 1;

}

 .box:before{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background:#fff;
  z-index: -1;
}

 .box:after{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -3;
  filter: blur(40px);
}

 .team .box:before,
 .team .box:after{
  background:linear-gradient(235deg,#89ff00,#010615,#00bcd4);
}

 .team .box:nth-child(2):before,
 .team .box:nth-child(2):after{
  background:linear-gradient(235deg,#ff005e,#010615,#fbff00);
}

 .team .box:nth-child(3):before,
 .team .box:nth-child(3):after{
  background:linear-gradient(235deg,#772aff,#010615,#2196f3);
}

 .box .content{
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 90px;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;

}

 .box:hover .content{
  opacity: 1;
}

 .box .content h2{
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
}

 .box .content span{
  text-align: center;
  font-size: 12px;
  color: #fff;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 2px;
  }


.slider{
  height: 100px;
  position: relative;
  background: white;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2) ;
  display:flex;
  overflow: hidden;
  margin: 60px;

}

.slide{
  height: 100px;
  display: flex;
  align-items: center;
  animation:slideshow 15s linear infinite;
}

.slide img{
  height: 70px;
  padding: 0 30px 0 30px;
}

@keyframes slideshow{
  0%{transform: translateX(0);}
  100%{transform: translateX(-100%);}
}

.header-contact{
  text-align: center;
  color: #000;
  font-size: 30px;
  
}

.contact-layout{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:40px 0px;


}



.contact-form{
  width: 80%;

}



.contact-form .row100{
  position: relative;
  width: 100%;
  float: right;
  display: grid;
  grid-template-columns: repeat(autofit,minmax(300px,1fr));
}

.contact-form .row100 .col{
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.contact-form .row100 .inputBox{
  position: relative;
  width: 100%;
  height: 40px;
  color:#000;
}

.contact-form .row100 .inputBox input,
.contact-form .row100 .inputBox.textarea textarea{
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color:#fff;

}

.contact-form .row100 .inputBox .text{
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.contact-form .row100 .inputBox input:focus + .text,
.contact-form .row100 .inputBox input:valid + .text{
  top:  -35px;
  left: -10px;
}

.contact-form .row100 .inputBox .line{
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #0080ff;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;

}

.contact-form .row100 .inputBox input:focus ~ .line,
.contact-form .row100 .inputBox input:valid ~ .line{
  height: 100%
}

.contact-form .row100 .inputBox.textarea{
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;

}

.contact-form .row100 .inputBox.textarea textarea{
  height: 100%;
  resize: none;
} 

.contact-form .row100 .inputBox textarea:focus + .text,
.contact-form .row100 .inputBox textarea:valid + .text{
  top: -35px;
  left: -10px;
}

.contact-form .row100 .inputBox textarea:focus ~ .line,
.contact-form .row100 .inputBox textarea:valid ~ .line{
  height: 100%;
}


input[type="submit"]{
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #0080ff;
  color: #fff;
  font-size: 18px;
  border-radius: 2px;
}

ul{
  list-style: none;
}

footer{
  background-color: #060c21;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.f-logo{
  color: #fff;
  letter-spacing: 2px;
  font-size:25px;
  padding: 5px 10px;
}

.section ul{
  margin: 0px;
  padding: 0px 20px;

}

.section h1{
  font-size:20px;
  color: #fff;
}

.section ul li a{
  font-size: 16px;
  color: #fff;
}

.section{
  display: flex;
  justify-content: space-between;
  padding: 3% 0px;
  margin: 5px;
  width :80%;
}

.f-social-icon a{
  width: 35px;
  height: 35px;
  margin: 0 5px;
  background-color: #424356;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-social-icon{
  display: flex;
}

.f-social-icon i{
  color: #fff;
  font-size: 14px;

}

.copyright{
  font-size: 14px;
  color: #fff;
  text-align: center;
  background: #060c21;
  margin-top: 0;
  border-top: 1px solid #fff;
  margin-bottom: 1px;
  padding:1px 0px;
}

.section ul li a:hover{
  color: #0080ff;
}

.f-social-icon a:hover{
  background-color: #0080ff;
  transition: all ease 0.5s;
}
.f-social-icon a:hover i{
  color: #fff;
}
